body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.35em;
}

.first-card {
    background-image: url("../imagens/banner-fic2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    min-height: 80vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-card {
    padding: 7vh 0;
}

.results {
    display: flex;
    width: 50%;
    justify-content: space-between;
    opacity: 1;
    margin-bottom: 7vh;
}

.results .valor p {
    font-weight: 600;
    opacity: 1;
    margin: 0;
}

.results .valor {
    display: flex;
    align-items: center;
}


/* GREEN VALUE */

.results .green {
    width: 10px;
    height: 10px;
    background-color: #00DA6D;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.results .green-value p {
    color: #00DA6D;
}


/* RED VALUE */

.results .red {
    width: 10px;
    height: 10px;
    background-color: #F1304D;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.results .red-value p {
    color: #F1304D;
}


/* WHITE VALUE */

.results .white {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* 3 CARD */

.third-card {
    padding: 5vh 0;
}

.flex-frame {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    align-items: flex-start;
}

.flex-frame>.flex-item {
    max-width: 25%;
}

.flex-item>ul {
    padding: 0;
    list-style: none;
}

.flex-item>ul>li {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style: none;
    background-image: url("../imagens/list-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    opacity: 1;
    font-weight: 600;
    font-size: 1.45em;
    text-align: left;
}


/* 4 CARD */

.fourth-card {
    padding: 15vh 0;
}

.fourth-card .results {
    width: 75%;
}

.calculator {
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
}

.calculator>div {
    width: 100%;
}

.calculator input {
    width: 90%;
}

.calculator span {
    font-size: 50px;
}

.money,
.time {
    text-align: left;
}


/* 5 CARD */

.fifth-card {
    padding: 7vh 0;
}

.fifth-card h2 {
    text-align: center;
    margin-bottom: 7vh;
}

.flex-frame2 {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-frame2>.flex-item {
    max-width: 33%;
    margin-bottom: 5vh;
}

.flex-item-header {
    background-color: #3c4a5b;
    color: #fff;
    width: fit-content;
    padding: 2px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.green-container {
    background-color: #00DA6D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.green-container>h3 {
    color: #000;
    margin: 0;
}

.green-container>a {
    border: 2px solid #000;
    color: #000;
    margin-left: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* FORMULARIO */

.sixth-card {
    padding: 5vh 0;
}

#form_1 {
    font-size: 14px;
    line-height: 1.6;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}

#form_1 * {
    outline: 0;
}

._form_hide {
    display: none;
    visibility: hidden;
}

._form_show {
    display: block;
    visibility: visible;
}

#form_1._form-top {
    top: 0;
}

#form_1._form-bottom {
    bottom: 0;
}

#form_1._form-left {
    left: 0;
}

#form_1._form-right {
    right: 0;
}

#form_1 input[type="text"],
#form_1 input[type="date"],
#form_1 textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #FFF !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#form_1 textarea {
    resize: none;
}

#form_1 ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background: #333 !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #fff !important;
    padding: 10px !important;
}

#form_1 ._close-icon {
    cursor: pointer;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px;
}

#form_1 ._close-icon:before {
    position: relative;
}

#form_1 ._form-body {
    margin-bottom: 30px;
}

#form_1 ._form-image-left {
    width: 150px;
    float: left;
}

#form_1 ._form-content-right {
    margin-left: 164px;
}

#form_1 ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100;
}

#form_1 ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png');
    background-size: 130px auto;
    background-repeat: no-repeat;
}

#form_1 .form-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#form_1 .form-label,
#_form_1 ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#form_1._dark ._form-branding {
    color: #333;
}

#form_1._dark ._form-branding ._logo {
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png');
}

#form_1 ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%;
}

#form_1 ._form_element * {
    font-size: 14px;
}

#form_1 ._form_element._clear {
    clear: both;
    width: 100%;
    float: none;
}

#form_1 ._form_element._clear:after {
    clear: left;
}

#form_1 .form_element input[type="text"],
#_form_1 .form_element input[type="date"],
#_form_1 .form_element select,
#_form_1 ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
}

#form_1 ._field-wrapper {
    position: relative;
}

#form_1 ._inline-style {
    float: left;
}

#form_1 ._inline-style input[type="text"] {
    width: 150px;
}

#form_1 ._inline-style:not(._clear)+._inline-style:not(._clear) {
    margin-left: 20px;
}

#form_1 ._form_element img._form-image {
    max-width: 100%;
}

#form_1 ._form_element ._form-fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

#form_1 ._clear-element {
    clear: left;
}

#form_1 ._full_width {
    width: 100%;
}

#form_1 ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#form_1 input[type="text"].has_error,
#_form_1 textarea._has_error {
    border: #f37c7b 1px solid;
}

#form_1 input[type="checkbox"]._has_error {
    outline: #f37c7b 1px solid;
}

#form_1 ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001;
}

#form_1 ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0;
}

#form_1 ._error._below {
    padding-top: 4px;
    top: 100%;
    right: 0;
}

#form_1 ._error._above ._error-arrow {
    bottom: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f37c7b;
}

#form_1 ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f37c7b;
}

#form_1 ._error-inner {
    padding: 8px 12px;
    background-color: #f37c7b;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#form_1 ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left;
}

#form_1 ._button-wrapper ._error-inner._form_error {
    position: static;
}

#form_1 ._error-inner._no_arrow {
    margin-bottom: 10px;
}

#form_1 ._error-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

#form_1 ._error-html {
    margin-bottom: 10px;
}

.pika-single {
    z-index: 10000001 !important;
}

#form_1 input[type="text"].datetime_date {
    width: 69%;
    display: inline;
}

#form_1 select.datetime_time {
    width: 29%;
    display: inline;
    height: 32px;
}

@media all and (min-width:320px) and (max-width:667px) {
     ::-webkit-scrollbar {
        display: none;
    }
    #form_1 {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    #form_1 * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em;
    }
    #form_1 ._form-content {
        margin: 0;
        width: 100%;
    }
    #form_1 ._form-inner {
        display: block;
        min-width: 100%;
    }
    #form_1 .form-title,
    #_form_1 ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    #form_1 ._form-title {
        font-size: 1.2em;
    }
    #form_1 ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%;
    }
    #form_1 .form-element,
    #_form_1 .inline-style,
    #_form_1 input[type="text"],
    #form_1 label,
    #form_1 p,
    #form_1 textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%;
    }
    #form_1 ._row._checkbox-radio label {
        display: inline;
    }
    #form_1 .row,
    #_form_1 p,
    #form_1 label {
        margin-bottom: 0.7em;
        width: 100%;
    }
    #form_1 .row input[type="checkbox"],
    #_form_1 ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important;
    }
    #form_1 ._row input[type="checkbox"]+span label {
        display: inline;
    }
    #form_1 ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important;
    }
    #form_1 ._form-image {
        max-width: 100%;
        height: auto !important;
    }
    #form_1 input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.3em;
        -webkit-appearance: none;
    }
    #form_1 input[type="radio"],
    #form_1 input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline;
    }
    #form_1 button[type="submit"] {
        padding: 20px;
        font-size: 1.5em;
    }
    #form_1 ._inline-style {
        margin: 20px 0 0 !important;
    }
}

#form_1 {
    position: relative;
    text-align: left;
    margin: 25px auto 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
    border: 0px solid #b0b0b0 !important;
    width: 500px;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #FFF !important;
}

#form_1.inline-form,
#_form_1.inline-form ._form-content,
#_form_1.inline-form input,
#_form_1._inline-form ._submit {
    font-family: "IBM Plex Sans", Helvetica, sans-serif, 'IBM Plex Sans', arial, sans-serif;
}

#form_1 ._form-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

#form_1:before,
#form_1:after {
    content: " ";
    display: table;
}

#form_1:after {
    clear: both;
}

#form_1._inline-style {
    width: auto;
    display: inline-block;
}

#form_1.inline-style input[type="text"],
#_form_1._inline-style input[type="date"] {
    padding: 10px 12px;
}

#form_1._inline-style button._inline-style {
    position: relative;
    top: 27px;
}

#form_1._inline-style p {
    margin: 0;
}

#form_1._inline-style ._button-wrapper {
    position: relative;
    margin: 27px 12.5px 0 20px;
}

#form_1 ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

@media all and (min-width:320px) and (max-width:667px) {
    #form_1._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important;
    }
}

.form-control {
    background-color: #FFFFFF0D!important;
    color: #FFF!important;
    height: 60px!important;
    border: none;
}

.form-control:focus {
    color: #FFF!important;
    box-shadow: 0 0 0 0.2rem #00DA6D!important;
}

@media (max-width:768px) {
    p {
        font-size: 16px;
    }
    .flex-frame,
    .flex-frame2 {
        flex-wrap: wrap;
    }
    .flex-item {
        max-width: unset!important;
        width: 100%!important;
        text-align: center;
    }
    .flex-item-header {
        margin: 1vh auto;
    }
    .green-container {
        padding: 0 20px;
    }
    .green-container>a {
        margin-left: 0;
    }
    .calculator span {
        font-size: 22px;
    }
    .results {
        width: 100%!important;
    }
    .fourth-card .results {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
    }
    .fourth-card .results>div {
        margin-bottom: 2vh;
    }
}