body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.35em;
}

.first-card {
    background-image: url("../imagens/banner-fic2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    min-height: 80vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-card {
    padding: 7vh 0;
}

.results {
    display: flex;
    width: 50%;
    justify-content: space-between;
    opacity: 1;
    margin-bottom: 7vh;
}

.results .valor p {
    font-weight: 600;
    opacity: 1;
    margin: 0;
}

.results .valor {
    display: flex;
    align-items: center;
}


/* GREEN VALUE */

.results .green {
    width: 10px;
    height: 10px;
    background-color: #00DA6D;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.results .green-value p {
    color: #00DA6D;
}


/* RED VALUE */

.results .red {
    width: 10px;
    height: 10px;
    background-color: #F1304D;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.results .red-value p {
    color: #F1304D;
}


/* WHITE VALUE */

.results .white {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* 3 CARD */

.third-card {
    padding: 5vh 0;
}

.flex-frame {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    align-items: flex-start;
}

.flex-frame>.flex-item {
    max-width: 25%;
}

.flex-item>ul {
    padding: 0;
    list-style: none;
}

.flex-item>ul>li {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style: none;
    background-image: url("../imagens/list-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    opacity: 1;
    font-weight: 600;
    font-size: 1.45em;
    text-align: left;
}


/* 4 CARD */

.fourth-card {
    padding: 15vh 0;
}

.fourth-card .results {
    width: 75%;
}

.calculator {
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
}

.calculator>div {
    width: 100%;
}

.calculator input {
    width: 90%;
}

.calculator span {
    font-size: 50px;
}

.money,
.time {
    text-align: left;
}


/* 5 CARD */

.fifth-card {
    padding: 7vh 0;
    background-image: url("../imagens/fundo-linha-verde.png?v=1");
    background-size: cover;
    background-position: -390px;
    background-repeat: no-repeat;
}

.fifth-card h2 {
    text-align: center;
    margin-bottom: 7vh;
}

.flex-frame2 {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-frame2>.flex-item {
    max-width: 33%;
    margin-bottom: 5vh;
}

.flex-item-header {
    background-color: #3c4a5b;
    color: #fff;
    width: fit-content;
    padding: 2px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.green-container {
    background-color: #00DA6D;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.green-container>h3 {
    color: #000;
    margin: 0;
}

.green-container>a {
    border: 2px solid #000;
    color: #000;
    margin-left: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sixth-card {
    padding: 5vh 0;
}

.form-control {
    background-color: #FFFFFF0D!important;
    color: #FFF!important;
    height: 60px!important;
    border: none;
}

.form-control:focus {
    color: #FFF!important;
    box-shadow: 0 0 0 0.2rem #00DA6D!important;
}

@media (max-width:768px) {
    p {
        font-size: 16px;
    }
    .flex-frame,
    .flex-frame2 {
        flex-wrap: wrap;
    }
    .flex-item {
        max-width: unset!important;
        width: 100%!important;
        text-align: center;
    }
    .flex-item-header {
        margin: 1vh auto;
    }
    .green-container {
        padding: 10px 20px;
    }
    .green-container>a {
        margin-left: 0;
    }
    .calculator span {
        font-size: 22px;
    }
    .results {
        width: 100%!important;
    }
    .fourth-card .results {
        flex-direction: column;
        align-items: center;
        margin-bottom: 4vh;
    }
    .fourth-card .results>div {
        margin-bottom: 2vh;
    }
    .money,
    .time {
        width: 100%;
        margin-bottom: 2vh;
    }
    .calculator {
        flex-wrap: wrap;
    }
    .calculator input {
        width: 100%;
    }
    .first-card {
        background-image: url("../imagens/fundo-linha-verde.png?v=1");
        background-position: 100% -100px;
        min-height: unset;
    }
    .fifth-card {
        background-position: 65% -390px;
    }
}

.faq {
    padding: 10em 0;
}

.bg-faq {
    background-color: #272c40;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.question {
    cursor: pointer;
    padding: 1.5em 0;
}

.response {
    display: none;
}

._html-code h2 {
    font-size: 1.8em!important;
}

._html-code p {
    font-size: 1.2em!important;
}