hr {
    margin-left: auto;
    margin-right: auto;
}

.first-card {
    padding: 5em 0;
}

.first-card img {
    width: unset;
}

.first-card h1 {
    margin-bottom: 0.5em;
}

.first-card p {
    margin-bottom: 1em;
}

.second-card {
    padding: 5em 0;
}

.second-card img {
    width: 7.5em;
    margin-bottom: 1em;
}

.second-card h3 {
    margin-bottom: 1em;
}

.second-card li {
    font: normal normal normal 1.5em Roboto-Regular;
    margin-bottom: 0.5em;
}

.third-card {
    padding: 5em 0;
}

.third-card .item-title {
    border-bottom: 2px solid #ffffff;
    opacity: 0.5;
    cursor: pointer;
}

.item-body-text {
    text-align: left;
}

.item-body {
    padding-top: 1em;
    display: none;
}

.item-body .btn {
    border-radius: 1em;
}

.item-body.selected {
    display: block!important;
}

.item-title.selected {
    border-bottom: 2px solid #00DAD7;
    opacity: 1;
}

.item-title.selected p {
    color: #00DAD7;
    opacity: 1;
}

.fourth-card {
    padding: 5em 0;
}

.fourth-card h2 {
    margin-bottom: 0.5em;
}

.fourth-card p {
    margin-bottom: 1em;
}

.fifth-card {
    padding: 5em 0;
}

.sixth-card {
    padding: 5em 0;
}

.sixth-card h2 {
    width: 100%;
    text-align: center;
}

.sixth-card p {
    opacity: 1;
    font: normal normal normal 1.5em Roboto-Regular;
}

.sixth-card p span {
    opacity: 0.5;
}

.sixth-card i {
    color: #F1304D;
    font-size: 2em;
}

.seventh-card p {
    margin-bottom: 1em;
    opacity: 1;
    font: normal normal normal 1.5em Roboto-Regular;
}

.seventh-card p span {
    opacity: 0.5;
}

.seventh-card i {
    color: #F1304D;
    font-size: 2em;
}

.seventh-card h2 {
    width: 100%;
    text-align: center;
}

.eigth-card {
    padding: 5em 0;
}

.eigth-card hr {
    margin-left: unset;
}

.nineth-card {
    padding: 5em 0;
}

.nineth-card img {
    width: 7.5em;
    margin-bottom: 1em;
}

.nineth-card h3 {
    margin-bottom: 1em;
}

.nineth-card li {
    font: normal normal normal 1.5em Roboto-Regular;
    margin-bottom: 0.5em;
}

.margin-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

@media screen and (max-width: 768px) {
    .margin-auto {
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .fifth-card {
        text-align: left;
    }
    .text-left-mobile {
        text-align: left;
    }
}